:root {
    --section-height: 600px;
}

.sans-serif {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.serif {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}
html, body{
    margin: 0;
    padding: 0;
    
}
.intro{
    background-color: #e6e6e6;
    height: var(--section-height);
}
.profile-img{
    height: var(--section-height);
    width: 100%;
    object-fit: cover;
}

.bio-img{
    height: 300px;
    width: 220px;
}
.ipad-img{
    width: 260px;
    height: 350px;
    object-fit: cover;
}
.whiteboard-img{
    width: 380px;
    height: 230px;
    object-fit: cover;
}
@media screen and (max-width: 768px ){
    
}