.sans-serif {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.serif {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}
html, body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #e6e6e6;
    
}
.profile-img{
    width: 98%;
    height: 650px;
    object-fit: cover;
}


.intro-div{
    /* border: 2px solid black; */
    /* min-height: 80vh; */
}
.bio-img{
    height: 300px;
    width: 220px;
    
}
@media screen and (max-width: 768px ){
    .intro-div{
        min-height: 80vh;
        
    }
    .profile-img{
        height: 400px;
    }
    
}